= render "posts/header"
%section.item.item-l.item-breakfast
  %a{href: "#"}
    = image_tag "image_L_1.jpg",class:"image-L"
    .category
      Breakfast
    %p.description
      テキストテキストダミーテキストダミーテキスト
- @breakfast.each do |breakfast|
  %section.item.item-breakfast
    %a{href: "#"}
      = image_tag "#{breakfast.image}", class:"image"
      .category
        Breakfast
      %p.description
        = breakfast.description
- @lunch.each do |lunch|
  %section.item.item-lunch
    %a{href: "#"}
      = image_tag "#{lunch.image}", class:"image"
      .category
        Lunch
      %p.description
        = lunch.description
- @afternoonsnack.each do |afternoonsnack|
  %section.item.item-afternoon-snack
    %a{href: "#"}
      = image_tag "#{afternoonsnack.image}",class:"image"
      .category
        Afternoon Snack
      %p.description
        = afternoonsnack.description
- @dinner.each do |dinner|
  %section.item.item-dinner
    %a{href: "#"}
      = image_tag "#{dinner.image}", class:"image"
      .category
        Dinner
      %p.description
        = dinner.description
- @restaurant.each do |restaurant|
  %section.item.item-m.item-restaurant
    %a{href: "#"}
      = image_tag "#{restaurant.image}",class:"image",style:"height:auto;"
      .category
        Favorite Restaurant
      %p.description
        = restaurant.description


%script{src:"http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js"}
:javascript
  window.onload = function(){

    new Masonry('body',{
      itemSelector: '.item',
      columnWidth: 180,
      gutter: 4
    });

  };

