= render "posts/header"
%section.item.item-l.item-breakfast
  %a{href: "#"}
    = image_tag "image_L_1.jpg",class:"image-L",style:"width:100%;"
    .category
      Breakfast
    %p.description
      テキスト
- @post.each do |post|
  - if post.meals == "Breakfast"
    %section.item.item-breakfast
      %a{href: "#"}
        = image_tag "#{post.image}", class:"image"
        .category
          Breakfast
        %h2.title
          = post.title
        %p.description
          = post.description
  - elsif post.meals == "Lunch"
    %section.item.item-lunch
      %a{href: "#"}
        = image_tag "#{post.image}", class:"image"
        .category
          Lunch
        %h2.title
          = post.title
        %p.description
          = post.description
  - elsif post.meals == "Afternoon Snack"
    %section.item.item-afternoon-snack
      %a{href: "#"}
        = image_tag "#{post.image}",class:"image"
        .category
          Afternoon Snack
        %h2.title
          = post.title
        %p.description
          = post.description
  - elsif post.meals == "Dinner"
    %section.item.item-dinner
      %a{href: "#"}
        = image_tag "#{post.image}", class:"image"
        .category
          Dinner
        %h2.title
          = post.title
        %p.description
          = post.description
  - else
    %section.item.item-m.item-restaurant
      %a{href: "#"}
        = image_tag "#{post.image}",class:"image",style:"height:auto;"
        .category
          Favorite Restaurant
        %h2.title
          = post.title
        %p.description
          = post.description


%script{src:"http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js"}
:javascript
  window.onload = function(){

    new Masonry('body',{
      itemSelector: '.item',
      columnWidth: 180,
      gutter: 4
    });

  };

