= render "posts/header"
- @restaurant.each do |restaurant|
  %section.item.item-m.item-restaurant
    %a{href: "#"}
      = image_tag "#{restaurant.image}",class:"image",style:"height:auto;"
      .category
        Favorite Restaurant
      %h2.title
        = restaurant.title
      %p.description
        = restaurant.description
%script{src:"http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js"}
:javascript
  window.onload = function(){

    new Masonry('body',{
      itemSelector: '.item',
      columnWidth: 180,
      gutter: 4
    });

  };


%div(style="width: 100%;" )
  #map(style="height: 200px;" )
    :javascript
      handler = Gmaps.build('Google');
      handler.buildMap({
        provider: {
          zoom: 12,
          center:    new google.maps.LatLng(#{@restaurant.latitude}, #{@restaurant.longitude}),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        },
        internal: {id: 'map'}}, function(){
        handler.fitMapToBounds();
      });
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?v=3.exp&key=google_map_api&callback=initMap"}

